html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #edafb8;
}


.carousel-placeholder {
  height: 450px;
  background: #6c757d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.service-placeholder {
  height: 250px;
  background: #6c757d;
  color: white;
  align-items: center;
  justify-content: center;
}


.carousel-caption {
background: rgba(74, 87, 89, 0.6); /*not hex code for transparency reasons*/

border-radius: 10px;
padding: 10px;
}


.card {
background-color: #f7e1d7;
border: 3px solid #dedbd2;
}


.accordion-button {
background-color: #b0c4b1;
color: black;
}

.accordion-body {
background-color: #f7e1d7;
}


footer {
background-color: #4a5759;
color: white;
text-align: center;
padding: 15px;
}