@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');

body {
    background: #ADF1D2;
    color: #070707;
    margin-top: 200px;
    font-family: 'Farro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splash {
    position: relative;
    height: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: #070707;
    padding: 20px;
    background-color: #96C5B0;
    border-radius: 15px;
}

.links {
    display: inline-block;
    padding: 20px;
    background: #755B69;
    color: #070707;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
}

.links:hover {
    background: #553555;
}


footer {
    text-align: center;
    position: fixed;
    background: #553555;
    color: #ADF1D2;
    margin-top: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
}